<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - CloudVault</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="container" id="mainContainer">
        
        <div class="header">
            <div class="logo">☁️ CloudVault</div>
            <div class="tagline">Your files, anywhere, anytime</div>
        </div>

        
        <div class="content">
            <div class="page active">
                <h2>Welcome Back</h2>

                
                <form method="POST" action="{{ url_for('login') }}">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="username" id="username" name="username" placeholder="Enter your username" required>
                    </div>

                    <div class="form-group">
                        <label for="password">KEY</label>
                        <input type="password" id="password" name="password" placeholder="Enter Key" required>
                    </div>


                    <button type="submit" class="btn">Sign In</button>
                        {% if error %}
                        <div class="error-box">
                        {{error}}
                        </div>
                        {% endif %}
                </form>


            </div>
        </div>
    </div>
</body>
</html>
